
<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  

  <!-- Position Column -->
  <ng-container matColumnDef="HotelID">
    <th mat-header-cell *matHeaderCellDef> HotelID. </th>
    <td mat-cell *matCellDef="let element"> {{element.HotelID}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="IsReady">
    <th mat-header-cell *matHeaderCellDef> IsReady </th>
    <td mat-cell *matCellDef="let element"> {{element.IsReady}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="HotelsName">
    <th mat-header-cell *matHeaderCellDef> HotelsName </th>
    <td mat-cell *matCellDef="let element"> {{element.HotelsName}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="Location">
    <th mat-header-cell *matHeaderCellDef> Location </th>
    <td mat-cell *matCellDef="let element"> {{element.Location}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="LowestPrice">
    <th mat-header-cell *matHeaderCellDef> LowestPrice </th>
    <td mat-cell *matCellDef="let element"> {{element.LowestPrice}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="Currency">
    <th mat-header-cell *matHeaderCellDef> Currency </th>
    <td mat-cell *matCellDef="let element"> {{element.Currency}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="HotelRating">
    <th mat-header-cell *matHeaderCellDef> HotelRating </th>
    <td mat-cell *matCellDef="let element"> {{element.HotelRating}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayColumn"></tr>
  <tr mat-row *matRowDef="let row; columns: displayColumn;"></tr>
</table>

<router-outlet></router-outlet>
